@font-face {
    font-family: SF-Pro;
    src: url(SF-Pro-Text-Regular.otf);
}

body {
    font-family: SF-Pro;
    margin: 0 auto;
    line-height: 2em;
    padding: 12px;
    box-sizing: border-box;
    color: #6B94D2;
    overflow: auto;
    background: #ffded1;
    /* Old browsers */
    
    background: -moz-linear-gradient(-45deg, #222F5B 0%, #222F5B 50%, #38436b 50%, #38436b 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #222F5B), color-stop(50%, #222F5B), color-stop(50%, #38436b), color-stop(100%, #38436b));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(-45deg, #222F5B 0%, #222F5B 50%, #38436b 50%, #38436b 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(-45deg, #222F5B 0%, #222F5B 50%, #38436b 50%, #38436b 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(-45deg, #222F5B 0%, #222F5B 50%, #38436b 50%, #38436b 100%);
    /* IE10+ */
    
    background: linear-gradient(135deg, #222F5B 0%, #222F5B 50%, #38436b 50%, #38436b 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffded1', endColorstr='#ffc5af', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
body,
html {
    height: 100%;
}
.wrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}
a {
    text-decoration: none;
    color: #6B94D2;
    border-bottom: 3px solid #946B2D;
}
a:hover {
    color: #946B2D
}
p {
    font-weight: 200;
    font-size: 20px;
}
.name {
    font-family: SF-Pro;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 12px;
    border: 4px solid #946B2D;
    color: #946B2D;
    display: inline-block;
    position: absolute;
    margin-bottom: 60px;
    top: 60px;
    left: 90px;
}
.container {
    margin: 0 auto;
    width: 700px;
    padding: 120px 12px 50px;
    overflow: auto;
}
article {
    padding: 60px 60px 60px 60px;
    margin: 10px 0;
}
article::before {
    content: '\2638';
    position: relative;
    top: 0;
    left: -30px;
    color: #946B2D;
    font-size: 24px;
}
hr {
    border-bottom: 3px solid #946B2D;
}

/*navigation*/ 

#primary_nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
}

#primary_nav ul {
    list-style: none;
    background: transparent;
    padding: 5px 0;
}
 
#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: none;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;
}

#primary_nav li a:hover,
#primary_nav li a:focus {
    color: #946B2D;
    background: #ccc;
}
 
/*footer*/
 
footer {
    position: fixed;
    bottom: 0;
    font-family: 'SF-Pro';
    text-align: center;
}





@media only screen and (min-width: 768px) {
 
    a.to_nav {
        display: none;
    }
     
    .wrapper {
        position: relative;
        width: 768px;
        margin: auto;
    }
     
    #primary_nav {
        position: absolute;
        top: 5px;
        right: 10px;
        background: none;
    }
     
    #primary_nav li {
        display: inline;
    }
     
    #primary_nav li a {
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    #primary_nav li.top {
    display: none;
    }
}