$small: 600px;
$medium: 800px;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

$green: #172713;
$text-on-green: #fefadc;
$blue: #003057;
$text-on-blue: #b3a369;
$yellow: #ffb852;
$text-on-yellow: #1b3644;
$pink: #d94d99;
$white: #fff;
$black: #000;

#root {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
}

hr {
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.footer {
  margin: 0 1em;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &.portfolio {
    padding: 20vh 0 10vh 0;
  }
  &.green {
    background-color: $green;
    color: $text-on-green;
    a {
      color: $text-on-green;
    }
    hr {
      border-color: $text-on-green;
    }
    #logo {
      filter: invert(87%) sepia(20%) saturate(488%) hue-rotate(329deg)
        brightness(113%) contrast(103%);
    }
  }
  &.white {
    background-color: $white;
    color: $black;
    a {
      color: $black;
    }
    hr {
      border-color: $black;
    }
  }
  &.blue {
    background-color: $blue;
    color: $text-on-blue;
    a {
      color: $text-on-blue;
    }
    hr {
      border-color: $text-on-blue;
    }
    #logo {
      filter: invert(75%) sepia(18%) saturate(759%) hue-rotate(10deg)
        brightness(84%) contrast(91%);
    }
  }
  &.yellow {
    background-color: $yellow;
    color: $text-on-yellow;
    a {
      color: $text-on-yellow;
    }
    hr {
      border-color: $text-on-yellow;
    }
    #logo {
      filter: invert(16%) sepia(69%) saturate(347%) hue-rotate(156deg)
        brightness(99%) contrast(97%);
    }
  }
  &.pink {
    background-color: $pink;
    color: $white;
    a {
      color: $white;
    }
    hr {
      border-color: $white;
    }
    #logo {
      filter: invert(100%) sepia(73%) saturate(212%) hue-rotate(236deg)
        brightness(106%) contrast(101%);
    }
  }
}

.content {
  padding: 2rem 1rem;
  width: 50%;
  min-height: 100vh;

  @media screen and (max-width: $small) {
    width: 100%;
  }

  .info {
    padding: 0 1rem;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.2rem;
  }
}

a {
  text-decoration: underline;
  font-weight: bolder;
}

h1 {
  font-size: 70px;
  @media screen and (max-width: $small) {
    font-size: 40px;

    margin-left: 1em;
    margin-top: -3.5em;
  }

  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  margin-left: -1.25em;
  margin-top: -2.4em;

  span {
    position: absolute;

    &:nth-child(odd) {
      transform: skew(60deg, -30deg) scaleY(0.66667);
    }
    &:nth-child(even) {
      transform: skew(0deg, -30deg) scaleY(1.33333);
    }
    &:nth-child(2) {
      top: 30px;
      @media screen and (max-width: $small) {
        top: 20px;
      }
    }
    &:nth-child(3) {
      left: 210px;
      top: 35px;
      @media screen and (max-width: $small) {
        left: 110px;
        top: 30px;
      }
    }
  }
}

.portfolio-item {
  padding: 0.2em 1em;
  &.current {
    backdrop-filter: brightness(90%);
    border-radius: 10px;
  }
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  @media screen and (max-width: $medium) {
    display: block;
  }
  .portfolio-item {
    padding: 0.5em 1em;
    .portfolio-img {
      width: 100%;
    }
    p {
      margin-top: 0;
      margin-bottom: 0.4em;
    }
    ul {
      padding-inline-start: 15px;
    }
  }
}
